body, html{
    scroll-behavior: smooth;
}

.nav-link{
    font-family: 'Cairo', sans-serif;
}
.navbar-brand{
    font-family: 'Reem Kufi', sans-serif;
}

#first{
    h1{
        font-family: 'Reem Kufi', sans-serif;
    }
}

#sec{
    h1{
        font-family: 'Aref Ruqaa', serif;
    }
    h2{
        font-family: 'Amiri Quran', serif;
    }
}

.tit3{
    font-family: 'Aref Ruqaa', serif;
    color: white;
}

.card{
    box-shadow: 0px 4px 18px black;
}